<md-dialog aria-label="Observaciones de recha">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Solicitar Alta de Cliente</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="fas fa-times-circle fa-2x" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-progress-linear ng-if="loading" class="md-accent" md-mode="indeterminate"></md-progress-linear>
    <md-dialog-content>
        <div class="md-dialog-content">
            <p ng-show="cliente.intTipoClienteID == 1">{{cliente.vchNombre}}</p>
            <p ng-show="cliente.intTipoClienteID == 2">{{cliente.vchNombreEmpresa}}</p>
            <ng-form layout="column" name="FormularioTipoVenta" layout-padding>
                <div class="text-right">
                    <md-button ng-click="VerDetalleCliente($event)" ng-disabled="loading" aria-label="btnDetalleClietne" title="Ver detalle del cliente">
                        <md-icon md-menu-align-target class="fas fa-file-pdf fa-2x orange"></md-icon>
                    </md-button>
                </div>
                <div class="panel panel-default" style="border-left-color:#00BFA5 !important; border-left-width:5px !important;">
                    <table class="table table-sm table-hover" layout-padding>
                        <thead>
                            <tr>
                                <th></th>
                                <th class="text-left">Documento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="doc in Documentos | filter: { bitShow: 'true'}">
                                <td class="text-center">
                                    <div style="margin: -5px -5px -15px -5px">
                                        <md-menu>
                                            <md-button aria-label="menuComprobante" class="md-icon-button" ng-click="abrirMenu($mdOpenMenu, $event)">
                                                <md-icon md-menu-origin class="fas fa-bars fa-lg"></md-icon>
                                            </md-button>
                                            <md-menu-content>
                                                <md-menu-item ng-show="doc.bitCompleto">
                                                    <md-button ng-click="VerDocumento($event, doc)">
                                                        <md-icon class="fas fa-file-image fa-lg"></md-icon>
                                                        Ver Documento
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </div>
                                </td>
                                <td class="text-left"> {{doc.vchDocumento}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-form>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <md-button class="md-raised" ng-disabled="loading" ng-click="cancel()">
            Salir
        </md-button>
        <md-button class="md-raised" ng-disabled="loading" ng-click="AltaCliente($event)">
            Solicitar
        </md-button>
    </md-dialog-actions>
</md-dialog>