<md-dialog aria-label="Agregar Cliente">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Propuesta económica:</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="fas fa-times-circle fa-2x" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-progress-linear ng-if="loading" class="md-accent" md-mode="indeterminate"></md-progress-linear>
        <md-dialog-content>
            <div class="md-dialog-content">
                <p style="margin-bottom:20px;">{{tipoventa.tipo}} {{tipoventa.Plazo}} Meses</p>
                <label>Monto de Cotización</label>
                <h3>{{ejercicioTotal.Total | currency}}</h3>
                <ng-form layout="column" name="FormularioCliente" layout-padding class="panel-group">
                    <div flex class="panel panel-default" style="border-left-color:red !important; border-left-width:5px !important;" ng-show="tipoventa.Arren">
                        <div flex layout="column" layout-align="start stretch" class="panel-body">
                            <div layout="row" layout-align="space-between start" class="panel-body">
                                <div>
                                    Depósito en Garantía
                                </div>
                                <div>
                                    <span>{{ejercicioFinanciero.decDepositoGarantia | currency}}</span>
                                </div>
                            </div>
                            <div layout="row" layout-align="space-between start" class="panel-body">
                                <div>
                                    Renta Inicial
                                </div>
                                <div><span>{{ejercicioFinanciero.decRentaInicial | currency}}</span></div>
                            </div>
                            <div layout="row" layout-align="space-between start" class="panel-body">
                                <div>
                                    Pago Inicial Total
                                </div>
                                <div><span>{{ejercicioFinanciero.decPagoIniTotal | currency}}</span></div>
                            </div>
                            <div layout="row" layout-align="space-between start" class="panel-body">
                                <div>
                                    Com. Apertura
                                </div>
                                <div><span>{{ejercicioFinanciero.decComAper | currency}}</span></div>
                            </div>
                            <div layout="row" layout-align="space-between start" class="panel-body">
                                <div>
                                    Renta Mensual
                                </div>
                                <div><span>{{ejercicioFinanciero.decRentaMensual | currency}}</span></div>
                            </div>
                            <div layout="row" layout-align="space-between start" class="panel-body">
                                <div>
                                    Pago mensual seguro
                                </div>
                                <div><span>{{ejercicioFinanciero.decPagoMensualSeguro | currency}}</span></div>
                            </div>
                            <div layout="row" layout-align="space-between start" class="panel-body">
                                <div>
                                    Usado
                                </div>
                                <div><span>{{ejercicioFinanciero.decUsado | currency}}</span></div>
                            </div>
                        </div>
                    </div>
                    <div flex class="panel panel-default" style="border-left-color:darkmagenta !important; border-left-width:5px !important;" ng-show="tipoventa.Fin">
                        <div flex layout="column" layout-align="start stretch" class="panel-body">
                            <div layout="row" layout-align="space-between start" class="panel-body">
                                <div>
                                    Anticipo Fijo
                                </div>
                                <div><span>{{ejercicioFinanciero.decAnticipoFijo | currency}}</span></div>
                            </div>
                            <div layout="row" layout-align="space-between start" class="panel-body">
                                <div>
                                    Anticipo Opcional
                                </div>
                                <div><span>{{ejercicioFinanciero.decAnticipoAdi | currency}}</span></div>
                            </div>
                            <div layout="row" layout-align="space-between start" class="panel-body">
                                <div>
                                    Anticipo Total
                                </div>
                                <div><span>{{ejercicioFinanciero.decAnticipoTot | currency}}</span></div>
                            </div>
                            <div layout="row" layout-align="space-between start" class="panel-body" ng-hide="cotizacion.intPlazoID >= 7">
                                <div>
                                    <span ng-show="tipoventa.Plazo <= 3">Pago único del equipo</span>
                                    <span ng-show="tipoventa.Plazo > 3 && tipoventa.Plazo <= 36">Pago mensual del equipo</span>
                                </div>
                                <div><span ng-show="tipoventa.Plazo <= 36">{{ejercicioFinanciero.decPagoMensualEq | currency}}</span></div>
                            </div>
                            <div layout="row" layout-align="space-between start" class="panel-body">
                                <div>
                                    Pago mensual seguro
                                </div>
                                <div><span>{{ejercicioFinanciero.decPagoMensualSeguro | currency}}</span></div>
                            </div>
                        </div>
                    </div>
                </ng-form>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-raised" ng-disabled="loading" ng-click="cancel()">
                Salir
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>